/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
h1,
h2,
h3 {
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 36px;
    color: #00008B;
}

h2 {
    color: #00008B;
}

/* Hover Effects */
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Layout */
.container {
    display: flex;
    padding: 20px;
}


.left-column,
.right-column {
    width: 50%;
    padding: 0 20px;
}

/* Header */
header {
    text-align: center;
    padding: 50px;
    padding-top: 75px;
    padding-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

/* Resume Section */
.resume-section {
    padding: 20px;
}

.resume-section h2 {
    margin-bottom: 5px;
}

.resume-item {
    margin-bottom: 20px;
}

/* Portfolio Section */
.portfolio {
    padding: 20px;
    text-align: center;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    color: #00008B;
    ;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    margin-bottom: 20px;
}

.card a {
    color: #007bff;
    text-decoration: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

/* Adjust padding and margins as needed for smaller screens */
@media screen and (max-width: 1500px) {
    .container {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
        padding: 10px;
    }
}

.background {
    background: url("assets/background.jpg") no-repeat;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.background .welcome-container {
    position: absolute;
    margin: auto;
    width: 100%;
    top: 40%;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 75px;
    font-style: oblique;
    font-weight: 900;
    color: white;
}

.contact-wrapper .social-contacts {
    list-style: none;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    padding: 25px;
    width: 100%;
}


.contact-wrapper .social-contacts {
    list-style: none;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    padding: 25px;
    width: 100%;
}

.social-contacts li a img {
    max-width: 45px;
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .profile-pic {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 50%; /* This makes the image round */
    object-fit: cover; /* This will make sure the image covers the space without distortion */
  }